@charset "utf-8";

/* fonts import */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic&subset=latin,cyrillic);

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff; font-family: 'Arial', sans-serif; font-size: 11px;}

/* wrapper */
.wrapper {/*width: 1366px; margin: 0 auto;*/ background: #fff;}

.sub_wrapper {width: 1366px; margin: 0 auto;}

/* common */
.line {border-bottom: 1px solid #000; width: 140px; margin: 0 auto;}

/* header */
header {height: 12px; background-color: #91cfe3;}

/* nav */
.nav {overflow: hidden; height: 45px;}
	.nav ul {position: relative; float: left; left: 50%; margin-top: 14px;}
	.nav li {position:relative; float:left; left: -50%; margin: 0 10px;}
	.nav a {display: block; position: relative; text-decoration: none; line-height: 20px; height: 18px; border-bottom: 1px solid #fff; color: #000; text-transform: uppercase;}
	.nav a:hover {border-bottom: 1px solid #000;}

/* free_call */
.free_call {overflow: hidden; height: 73px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; width: 1366px; margin: 0 auto;}
	.free_call .logo {display: block; position: relative; float: left; margin: 19px 0 0 24px;}
	.desc {display: block; position: relative; float: left; margin: 19px 0 0 7px;}
		.desc p {text-transform: uppercase; line-height: 11px;}
		.desc p:first-child {margin: -1px 0 17px 0;}
	.free_call h2 {display: block; position: relative; float: right; text-align: center; margin: 18px 24px 0 20px; font-weight: normal;}
	.free_call h2 a {text-decoration: none;}
	.call_us {display: block; position: relative; float: right; margin-top: 16px;}
		.call_us p {text-transform: uppercase; line-height: 14px;}

	.black_button {display: block; position: relative; height: 36px; width: 193px; font-size: 12px !important; line-height: 36px; border: 1px solid #fff; color: #fff; background-color: #000;}
		.black_button:hover {background-color: #fff; color: #000; border: 1px solid #000;}
		.black_button:active {background-color: #fff; color: #000; border: 1px solid #000;}

/* paralax_item */
.paralax_item {}
	.paralax_item h2 {font-family: 'Playfair Display SC', sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: 400; text-align: center; margin: 31px 0;}
	.paralax_item h2 b {font-weight: 700;}
	.paralax_item p {font-family: 'Georgia', sans-serif; font-size: 14px; line-height: 16px; color: #000; font-style: italic; width: 380px; text-align: center; margin: 0 auto; padding: 32px 0 31px 0;}

.par {display: block; position: relative; width: 100%;}
	.par h3 {width: 100%;}
	.par img {max-width: 100%; min-width: 1366px;}

/* choice */
.choice {font-family: "Playfair Display SC", sans-serif;}
	.choice h2 {font-size: 30px; line-height: 30px; color: #000; font-weight: 400px; text-align: center; margin: 64px 0;}
	.choice h3 {font-size: 20px; text-align: center; margin: 30px 0;}
	.choice_wrapper {overflow: hidden; margin-left: 206px;}
	.choice_wrapper:last-child {margin-bottom: 80px;}
		.choice_item {display: block; position: relative; float: left; height: 250px; width: 294px; overflow: hidden; margin: 0 12px;}
			.c_item {position: absolute; top: 0; left: 0; z-index: 100;}
		
			.ch {display: block; position: absolute; bottom: 0; left: 0; z-index: 150;}
				.ch span {display: block; width: 222px; background: #fff; margin-left: 36px; font-size: 20px; line-height: 20px; padding: 20px 0; text-align: center;}
				.ch a {display: block;}

		.choice_item h5 {text-align: center; margin: 18px 36px 0 36px; text-transform: uppercase;}
			.choice_item h5 a {text-decoration: none;}

		.white_button {display: block; position: relative; height: 32px; width: 220px; font-size: 12px !important; line-height: 32px; border: 1px solid #000; color: #000; background-color: #fff;}
			.white_button:hover {background-color: #000; color: #fff; border: 1px solid #fff;}
			.white_button:active {background-color: #000; color: #fff; border: 1px solid #fff;}

/* action */
.action {}
	.action h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: 400px; text-align: center; margin: 64px 0;}
	.action_wrapper {overflow: hidden; display: block; position: relative; width: 924px; height: 688px; margin: 40px 221px;}
		.action_img {display: block; position: absolute; top: 0; left: 0; z-index: 100;}
		.action_form {display: block; position: absolute; bottom: 0; left: 0; z-index: 150; background: #fff; height: 272px; width: 600px; margin: 0 162px;}
			.a_form {display: block; position: absolute; z-index: 200; border: 1px solid #000; height: 258px; width: 586px; margin: 6px;}
			.a_form h3 {font-family: "Playfair Display SC", sans-serif; font-size: 21px; line-height: 21px; text-align: center; margin: 25px 0;}
			.a_form h3 b {font-style: italic;}
				.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
			.a_form p {font-size: 11px; line-height: 11px; font-weight: bold; text-align: center; margin-top: 28px;}
			.a_form p:last-child {margin-top: 8px;}
			.a_form p b {font-size: 19px;}

			.get_sale {overflow: hidden; margin-top: 20px;}
			.get_sale_input {display: block; position: relative; float: left; margin: 0 22px 0 20px;}
				.get_sale_input input {width: 255px; height: 32px; line-height: 32px; font-size: 19px !important; margin: 1px 0 0 0;}
			.get_sale h4 {display: block; position: relative; float: left; text-align: center; font-weight: normal;}
			.get_sale h4 a {text-decoration: none;}
			.get_sale_button {display: block; position: relative; height: 36px; width: 255px; font-size: 12px !important; line-height: 36px; border: 1px solid #fff; color: #fff; background-color: #000;}
				.get_sale_button:hover {background-color: #fff; color: #000; border: 1px solid #000;}
				.get_sale_button:active {background-color: #fff; color: #000; border: 1px solid #000;}

/* how */
.how {}
	.how h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: 400px; text-align: center; margin: 64px 0;}
	.how ul {text-align: center; text-transform: uppercase;}
	.how li {display: inline-block; width: 196px; margin-right: 0;}
	.how li:first-child {background: url(../img/how_bg.png) 10px 0 no-repeat;}
	.how li {background: url(../img/how_bg.png) -186px 0 no-repeat;}
	.how li:last-child {background: url(../img/how_bg.png) -772px 0 no-repeat;}
	.how li h5 {font-family: 'Playfair Display SC', sans-serif; font-size: 20px; width: 80px; margin: 0 0 0 60px;}
	.how li h5 b {font-size: 70px; font-style: italic;}
	.how li p {margin: 80px 0 83px 29px; width: 138px; font-size: 14px;}

/* reviews */
.reviews {}
	.reviews h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: 400px; text-align: center; margin: 64px 0;}
		.review_wrapper {overflow: hidden; width: 940px; margin: 0 auto;}
			.item {display: block; position: relative; float: left; margin-bottom: 40px; /*width: 322px;*/ margin-right: 30px;}
			.item:last-child {margin-right: 0;}
			.item h3 {border: 1px solid #000; height: 55px; text-align: center; font-family: "Playfair Display SC", sans-serif; font-size: 15px; line-height: 22px; margin-top: 8px;}
			.item h3 b {font-style: italic;}
	.reviews h4 {text-align: center; font-weight: normal; margin: 0 0 40px 554px;}
	.reviews h4 a {text-decoration: none;}

/* free_advice */
.free_advice {height: 100px;}

/* look */
.look {width: 926px; margin: 0 auto;}
	.look h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: 400px; text-align: center; margin-bottom: 64px;}
	.look h2 b {font-style: italic;}
		.design_wrapper {overflow: hidden; margin-bottom: 48px;}
			.design_item {display: block; position: relative; float: left; height: 310px; width: 210px; margin-right: 28px;}
			.design_item:last-child {margin-right: 0;}
				.d_img {display: block; position: absolute; top: 0; left: 0; z-index: 100;}
				.d_img img {width: 210px;}
				.d_desc {display: block; position: absolute; bottom: 0; left: 0; z-index: 150; background: #fff; height: 86px; width: 168px; margin: 0 21px;}
					.d_form {display: block; position: absolute; z-index: 200; border: 1px solid #000; height: 76px; width: 158px; margin: 4px; text-align: center;}
					.d_form h5 {font-family: "Playfair Display SC", sans-serif; font-size: 15px; line-height: 17px;}
					.d_form p {font-family: "Playfair Display SC", sans-serif; font-size: 15px; line-height: 17px; font-style: italic;}
		.design_form {margin: 0 0 78px 169px; position: relative; height: 200px;}
		.design_form p {width: 400px; margin-left: 93px;}

/* map */
.map {height: 100px;}

/* question */
.question {}

/* gray_line */
.gray_line {border-bottom: 1px solid #dedede; width: 1366px; margin: 0 auto;}







