@charset "utf-8";

/* fonts import */
/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic&subset=latin,cyrillic);*/
/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:700,400,400italic&subset=latin,cyrillic);*/
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:700,700italic,400,400italic&subset=latin,cyrillic);

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff; font-family: 'Arial', sans-serif; font-size: 11px;}

/* wrapper */
.wrapper {background: #fff;}

.sub_wrapper {width: 1366px; margin: 0 auto;}

/* common */
.line {border-bottom: 1px solid #000; width: 140px; margin: 0 auto;}
.white_line {border-bottom: 1px solid #fff; width: 138px; margin: 0 auto;}

/* header */
header {background: url(../img/header1.png) no-repeat center center fixed; display: block; position: relative; width: 100%; min-width: 1366px; background-size: cover; /*height: 768px; width: 1366px; margin: 0 auto;*/}
	.main_free {border-top: 1px solid transparent; border-bottom: 1px solid transparent; color: #fff;}
	.transparent_button {border: 1px solid #fff; color: #fff; background: transparent;}
		.transparent_button:hover {background-color: #000; color: #fff; border: 1px solid #fff;}
		.transparent_button:active {background-color: #000; color: #fff; border: 1px solid #fff;}
	header h1 {font-family: 'Playfair Display SC', sans-serif; font-size: 40px; line-height: 40px; text-align: center; font-weight: normal; width: 500px; color: #fff; margin: 0 auto; padding: 65px 0 35px 0;}
	header h1 b {font-style: italic;}
	header h5 {font-family: 'Playfair Display SC', sans-serif; font-size: 30px; line-height: 30px; text-align: center; font-weight: normal; width: 500px; color: #fff; margin: 0 auto; padding: 24px 0 29px 0;}
	header h5 b {font-style: italic;}
	.gift_form {display: block; position: relative; z-index: 150; background: #fff; height: 294px; width: 320px; margin: 0 auto;}
		.g_form {display: block; position: absolute; z-index: 200; border: 1px solid #000; height: 284px; width: 310px; margin: 4px;}
		.g_form h3 {font-family: "Playfair Display SC", sans-serif; font-size: 17px; line-height: 17px; font-weight: normal; text-align: center; margin: 26px 0 24px 0;}
			.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
		.g_form p {font-size: 11px; line-height: 18px; font-weight: bold; text-align: center; margin: 18px 22px 18px 22px; text-transform: uppercase;}

			.gift_input {margin: 0 21px 22px 23px;}
			.gift_input:before {content: "+375"; display: block; height: 40px; color: #363636; position: absolute; top: 9px; left: 15px; font-size: 19px;}

				.gift_input input {width: 195px; padding-left: 62px; height: 32px; line-height: 32px; font-size: 19px !important; margin: 1px 0 0 0;}
		.g_form h4 {text-align: center; font-weight: normal;}
		.g_form h4 a {text-decoration: none; margin: 0 auto;}
			.get_sale_button {height: 36px; width: 258px; font-size: 12px !important; line-height: 36px; border: 1px solid #fff; color: #fff; background-color: #000;}
				.get_sale_button:hover {background-color: #fff; color: #000; border: 1px solid #000;}
				.get_sale_button:active {background-color: #fff; color: #000; border: 1px solid #000;}

	.head_description {overflow: hidden; margin-top: 60px;}
		.h_desc {display: block; position: relative; float: left; margin-left: 25px;}
			.h_desc ul {}
			.h_desc li {display: inline-block; line-height: 11px; color: #bfbfbf;}
			.h_desc li b {font-weight: normal; color: #fff;}
		.h_nav {display: block; position: relative; float: right; margin-right: 22px;}
			.h_nav ul {}
			.h_nav li {display: inline-block; line-height: 11px; color: #fff; margin: 0 3px; border-right: 1px solid #fff; padding-right: 9px;}
			.h_nav li:last-child {border-right: 1px solid transparent;}
			.h_nav li a {text-transform: uppercase; text-decoration: none; color: #bfbfbf;}
			.h_nav li a:hover {text-decoration: underline;}
			.h_nav li b {font-weight: normal; color: #fff;}

	header h6 {text-align: center; font-weight: normal; text-transform: uppercase; margin: -19px 0 0 641px;}
	header h6 a {text-decoration: none; background: url(../img/arrow.png) 57px 8px no-repeat; padding-right: 20px;}
	.bottom_button {display: block; position: relative; height: 23px; width: 62px; line-height: 23px; font-size: 11px !important; border: 1px solid #fff; color: #fff;}

/* main */
.main {overflow: hidden; height: 73px; width: 1366px; margin: 0 auto;}
	.main .logo {display: block; position: relative; float: left; margin: 19px 0 0 24px;}
	.desc {display: block; position: relative; float: left; margin: 19px 0 0 7px;}
		.desc p {text-transform: uppercase; line-height: 11px;}
		.desc p:first-child {margin: -1px 0 17px 0;}
	.main h2 {display: block; position: relative; float: right; text-align: center; margin: 18px 24px 0 20px; font-weight: normal;}
	.main h2 a {text-decoration: none;}
	.call_us {display: block; position: relative; float: right; margin-top: 16px;}
		.call_us p {text-transform: uppercase; line-height: 14px;}

	.button {display: block; position: relative; height: 36px; width: 193px; font-size: 12px !important; line-height: 36px;}
		.button:hover {}
		.button:active {}

/* nav */
.nav {overflow: hidden; height: 45px;}
	.nav ul {position: relative; float: left; left: 50%; margin-top: 14px;}
	.nav li {position:relative; float:left; left: -50%; margin: 0 10px;}
	.nav a {display: block; position: relative; text-decoration: none; line-height: 20px; height: 18px; border-bottom: 1px solid #fff; color: #000; text-transform: uppercase;}
	.nav a:hover {border-bottom: 1px solid #000;}

/* free_call */
.free_call {border-top: 1px solid #dedede; border-bottom: 1px solid #dedede;}
	
	.black_button {border: 1px solid #fff; color: #fff; background-color: #000;}
		.black_button:hover {background-color: #fff; color: #000; border: 1px solid #000;}
		.black_button:active {background-color: #fff; color: #000; border: 1px solid #000;}

/* paralax_item */
.paralax_item {}
	.paralax_item h2 {font-family: 'Playfair Display SC', sans-serif; font-size: 30px; font-weight: normal; line-height: 30px; color: #000; text-align: center; margin: 31px 0;}
	.paralax_item h2 b {font-style: italic;}
	.paralax_item p {font-family: 'Georgia', sans-serif; font-size: 14px; line-height: 16px; color: #000; font-style: italic; width: 380px; text-align: center; margin: 0 auto; padding: 32px 0 31px 0;}

.par1 {background: url(../img/paralax_test1.png) no-repeat center center fixed; display: block; position: relative; width: 100%; min-width: 1366px; background-size: cover; height: 390px;}

.par {display: block; position: relative; width: 100%; overflow: hidden;}
	.par h3 {width: 100%;}
	.par img {max-width: 100%; min-width: 1366px;}

/* choice */
.choice {font-family: "Playfair Display SC", sans-serif;}
	.choice h2 {font-size: 30px; line-height: 30px; color: #000; font-weight: normal; text-align: center; margin: 45px 0 34px 0;}
	.choice h3 {font-size: 20px; text-align: center; margin: 30px 0 33px 0;}
	.choice_wrapper {overflow: hidden; margin-left: 204px;}
	.choice_wrapper:last-child {margin-bottom: 80px;}
		.choice_item {display: block; position: relative; float: left; height: 253px; width: 294px; overflow: hidden; margin: 0 12px;}
			.c_item {position: absolute; top: 0; left: 0; z-index: 100;}
		
			.ch {display: block; position: absolute; bottom: 0; left: 0; z-index: 150;}
				.ch span {display: block; width: 222px; background: #fff; margin-left: 36px; font-size: 20px; line-height: 20px; padding: 20px 0; text-align: center;}
				.ch a {display: block;}

		.choice_item h5 {text-align: center; margin: 18px 36px 0 36px;}
			.choice_item h5 a {text-decoration: none;}

		.white_button {display: block; position: relative; height: 32px; width: 220px; font-size: 12px !important; line-height: 32px; border: 1px solid #000; color: #000; background-color: #fff;}
			.white_button:hover {background-color: #000; color: #fff; border: 1px solid #fff;}
			.white_button:active {background-color: #000; color: #fff; border: 1px solid #fff;}

/* action */
.action {}
	.action h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: normal; text-align: center; margin: 52px 0 46px 0;}
	.action_wrapper {overflow: hidden; display: block; position: relative; width: 933px; height: 693px; margin: 50px 215px 85px 215px;}
		.action_img {display: block; position: absolute; top: 0; left: 0; z-index: 100;}
		.action_form {display: block; position: absolute; bottom: 0; left: 0; z-index: 150; background: #fff; height: 272px; width: 600px; margin: 0 166px;}
			.a_form {display: block; position: absolute; z-index: 200; border: 1px solid #000; height: 260px; width: 586px; margin: 6px;}
			.a_form h3 {font-family: "Playfair Display SC", sans-serif; font-size: 21px; line-height: 21px; text-align: center; margin: 25px 0;}
			.a_form h3 b {font-style: italic;}
				.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
			.a_form p {font-size: 13px; line-height: 13px; font-weight: bold; text-align: center; margin-top: 28px;}
			.a_form span p {margin-top: 10px; text-align: center;}
			.a_form span b {font-size: 19px;}

			.get_sale {overflow: hidden; margin-top: 33px;}
			.get_sale_input {display: block; position: relative; float: left; margin: 0 21px 0 23px;}
			.get_sale_input:before {content: "+375"; display: block; height: 40px; color: #363636; position: absolute; top: 9px; left: 39px; font-size: 19px;}
				.get_sale_input input {width: 171px; padding-left: 85px; height: 32px; line-height: 32px; font-size: 19px !important; margin: 1px 0 0 0;}
			.get_sale h4 {display: block; position: relative; float: left; text-align: center; font-weight: normal;}
			.get_sale h4 a {text-decoration: none;}
			.get_sale_button {display: block; position: relative; height: 36px; width: 258px; font-size: 12px !important; line-height: 36px; border: 1px solid #fff; color: #fff; background-color: #000;}
				.get_sale_button:hover {background-color: #fff; color: #000; border: 1px solid #000;}
				.get_sale_button:active {background-color: #fff; color: #000; border: 1px solid #000;}

/* how */
.how {}
	.how h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: normal; text-align: center; margin: 64px 0 69px 0;}
	.how ul {text-align: center; text-transform: uppercase;}
	.how li {display: inline-block; width: 196px; margin-right: 0;}
	.how li:first-child {background: url(../img/how_bg.png) 10px 0 no-repeat;}
	.how li {background: url(../img/how_bg.png) -186px 0 no-repeat;}
	.how li:last-child {background: url(../img/how_bg.png) -772px 0 no-repeat;}
	.how li h5 {font-family: 'Playfair Display SC', sans-serif; font-size: 20px; width: 80px; margin: 28px 0 0 60px;}
	.how li h5 b {font-size: 70px; line-height: 70px; font-style: italic;}
	.how li p {margin: 74px 0 86px 29px; width: 150px; font-size: 14px; line-height: 16px; font-weight: bold;}

/* reviews */
.reviews {width: 1366px; margin: 0 auto; padding-bottom: 28px;}
	.reviews h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; text-align: center; margin: 64px 0 67px 0;}
		.review_wrapper {overflow: hidden; width: 940px; margin: 0 auto;}
			.item {display: block; position: relative; float: left; margin: 0 30px 23px 0;}
			.item:last-child {margin-right: 0;}
			.item h3 {border: 1px solid #000; height: 58px; font-weight: normal; text-align: center; font-family: "Playfair Display SC", sans-serif; font-size: 15px; line-height: 22px; margin-top: 6px;}
			.item h3 b {font-style: italic; font-weight: normal;}
			.item h5 {border: 1px solid #000; height: 58px; text-align: center; font-family: "Playfair Display SC", sans-serif; font-size: 18px; line-height: 58px; margin-top: 6px;}
			.item a {color: #000; text-decoration: none;}
	.reviews h4 {text-align: center; font-weight: normal; margin: 0 0 51px 563px; text-transform: uppercase;}
	.reviews h4 a {text-decoration: none; width: 230px;}

/* free_advice */
.free_advice {width: 926px; margin: 0 auto;}
	.free_advice h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; text-align: center; margin: 67px 0 68px 0; font-weight: normal;}
	.free_advice h2 b {font-style: italic;}
		.design_wrapper {overflow: hidden; margin-bottom: 54px;}
			.design_item {display: block; position: relative; float: left; height: 310px; width: 210px; margin-right: 28px;}
			.design_item:last-child {margin-right: 0;}
				.d_img {display: block; position: absolute; top: 0; left: 0; z-index: 100;}
				.d_img img {width: 210px;}
				.d_desc {display: block; position: absolute; bottom: 0; left: 0; z-index: 150; background: #fff; height: 86px; width: 168px; margin: 0 21px;}
					.d_form {display: block; position: absolute; z-index: 200; border: 1px solid #000; height: 76px; width: 158px; margin: 4px; text-align: center;}
					.d_form h5 {font-family: "Playfair Display SC", sans-serif; font-size: 15px; line-height: 17px; font-weight: normal; margin-top: 10px;}
					.d_form p {font-family: "Playfair Display SC", sans-serif; font-size: 13px; line-height: 17px; font-style: italic;}
		.design_form {display: block; position: relative; margin: 0 0 82px 169px; border: 1px solid #000; height: 226px; width: 586px;}
			.design_form h3 {font-family: "Playfair Display SC", sans-serif; font-size: 21px; line-height: 21px; text-align: center; margin: 36px 0 26px 0; font-weight: normal;}
			.design_form h3 b {font-style: italic;}
				.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
			.design_form p {font-size: 13px; line-height: 11px; font-weight: bold; text-align: center; margin: 27px 61px 0 72px;}
			.get_sale_design {margin-top: 32px;}
			.get_sale_design h4 a {text-transform: uppercase;}

/* look */
.look {}
	.look h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; text-align: center; margin: 64px 0 73px 0; font-weight: normal;}
		.look_img:first-child {width: 170px; margin: 0 0 -20px 598px;}
		.look_img {width: 170px; margin: 56px 0 -20px 598px;}

.carousel, .carousel2, .carousel3 {
    margin: 0 auto;
    position: relative;
    width: 1044px;
}

.carousel_desc_wrapper {display: block; position: absolute; width: 170px; height: 58px; background: #fff; z-index: 5; left: 50%; margin-left: -85px; top: 78%;}
	.carousel_desc {display: block; position: absolute; width: 162px; height: 50px; margin: 3px; border: 1px solid #000; z-index: 6;}
	.carousel_desc h5 {font-family: "Playfair Display SC", sans-serif; font-size: 18px; line-height: 18px; text-align: center; margin-top: 16px;}

.carousel-wrapper, .carousel-wrapper2, .carousel-wrapper3 {height: 380px}

.carousel-box {
    background-color: #CFCFCF;
    height: 230px;
    left: 50%;
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin: -62px 0 0 -100px;
    width: 200px;
    z-index: -1;

    -webkit-transition: 0.5s ease-out;
       -moz-transition: 0.5s ease-out;
        -ms-transition: 0.5s ease-out;
         -o-transition: 0.5s ease-out;
            transition: 0.5s ease-out;
}

.carousel-box.is-active, .carousel-box.is-active2, .carousel-box.is-active3 {
    z-index: 4;
    width: 480px;
    height: 300px;
    left: 50%;
    margin: 35px 0 0 -240px;
    top: 0;
}

.carousel-box.left,
.carousel-box.right,
.carousel-box.left2,
.carousel-box.right2,
.carousel-box.left3,
.carousel-box.right3 {
    width: 368px;
    height: 230px;
    /*opacity: 0.5;*/
}

.carousel-box.left:after,
.carousel-box.right:after,
.carousel-box.left2:after,
.carousel-box.right2:after,
.carousel-box.left3:after,
.carousel-box.right3:after {
    content: ' ';
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 100%;
}

.carousel-box.left,
.carousel-box.left2,
.carousel-box.left3 {
    left: 55px;
    margin: 0;
    top: 72px;
    z-index: 2;
}

.carousel-box.right,
.carousel-box.right2,
.carousel-box.right3 {
    left: 620px;
    margin: 0;
    top: 72px;
    z-index: 2;
}

.nav-left,
.nav-right,
.nav-left2,
.nav-right2,
.nav-left3,
.nav-right3 {
    background: url('../img/arrow1.png') no-repeat left 5px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    top: 160px;
    width: 44px;
}

.nav-left, .nav-left2, .nav-left3 {left: -9px;}

.nav-right, .nav-right2, .nav-right3 {
    right: -9px;
    background-position: right -119px;
}







/* map */
.map {display: block; position: relative;}
	.map h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; text-align: center; margin: 63px 0 61px 0; font-weight: normal;}
	.map_adress_wrapper {display: block; position: absolute; top: 54%; left: 34%; width: 426px; height: 151px; background: #fff; z-index: 100;}
	.map_adress {display: block; position: absolute; width: 410px; height: 136px; border: 1px solid #000; z-index: 150; margin: 7px 9px;}
	.map_adress h3 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; text-align: center; margin-top: 53px; font-weight: normal;}
	.map_adress h3 b {font-style: italic;}

/* question */
.question {width: 1366px; margin: 0 auto;}
	.question h2 {font-family: "Playfair Display SC", sans-serif; font-size: 30px; line-height: 30px; color: #000; font-weight: normal; text-align: center; margin: 63px 0 39px 0;}
	.question p {text-transform: uppercase; text-align: center; font-weight: bold; margin-top: 33px;}
	.question form {margin: 0 auto; width: 530px; padding: 52px 0 84px 30px;}
	.question .footer_input_wrapper:before {content: "+375"; display: block; height: 40px; color: #363636; position: absolute; top: 9px; left: 23px; font-size: 19px;}
	.question input {width: 412px; padding-left: 69px; height: 32px; line-height: 32px; font-size: 19px !important;}
	.question textarea {width: 462px; padding: 7px 0 0 18px; height: 208px; line-height: 32px; font-size: 19px !important; margin-top: 14px; text-transform: uppercase;}
	.question h4 {text-align: center; font-weight: normal; text-transform: uppercase; margin-top: 43px;}
	.question h4 a {text-decoration: none; width: 482px;}

/* gray_line */
.gray_line {border-bottom: 1px solid #dedede; width: 1366px; margin: 0 auto;}

/* accepted */
.accepted {display: none; position: fixed; height: 380px; width: 324px; background: #fff; top: 50%; left: 50%; margin: -112px 0 0 -160px;; z-index: 210;}
	.accepted h3 {font-family: 'Playfair Display SC', sans-serif; font-size: 21px; line-height: 21px; text-align: center; font-weight: normal; margin: 136px 0 30px 0;}
	.accepted.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
	.accepted p {font-size: 11px; line-height: 11px; font-style: bold; text-transform: uppercase; text-align: center; margin: 24px 0 80px 0;}
	.accepted h2 {display: block; position: relative; text-align: center; margin: 18px 24px 0 66px; font-weight: normal;}
	.accepted h2 a {text-decoration: none;}
.quit_a {display: block; position: absolute; top: -33px; right: -33px;}
	.quit_a a {display: block; position: relative; float: right; background: url(../img/quit.png) 0 0 no-repeat; width: 27px; height: 27px;}

.accepted_vis {display: block;}

/* callback */
.callback {display: none; position: fixed; height: 380px; width: 324px; background: #fff; top: 50%; left: 50%; margin: -112px 0 0 -160px; z-index: 210;}
	.callback h3 {font-family: 'Playfair Display SC', sans-serif; font-size: 21px; line-height: 21px; width: 190px; text-align: center; font-weight: normal; margin: 55px 0 22px 67px;}
	.callback.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
	.callback p {font-size: 11px; line-height: 11px; font-style: bold; text-transform: uppercase; text-align: center; width: 190px; margin: 24px 0 80px 67px;}
	.callback h2 {display: block; position: relative; text-align: center; margin: 18px 24px 0 24px; font-weight: normal;}
	.callback h2 a {text-decoration: none;}
.quit_c {display: block; position: absolute; top: -33px; right: -33px;}
	.quit_c a {display: block; position: relative; float: right; background: url(../img/quit.png) 0 0 no-repeat; width: 27px; height: 27px;}

.callback_vis {display: block;}
.phone_form5 {margin: 10px 0 0 10px;}

/* popup */
.popup {display: block; position: fixed; width: 930px; height: 379px; background: #fff; top: 50%; left: 50%; margin: -112px 0 0 -450px; z-index: 210;}
	.popup_left {display: block; position: relative; float: left; width: 606px;}
	
	.popup_right {display: block; position: relative; float: left; width: 324px;}
	.popup_right h3 {font-family: 'Playfair Display SC', sans-serif; font-size: 21px; line-height: 21px; text-align: center; font-weight: normal;}
	.popup_right.double_line {width: 135px; height: 3px; margin: 0 auto; border-top: 1px solid #000; border-bottom: 1px solid #000;}
	.popup_right p {font-size: 11px; line-height: 11px; font-style: bold; text-transform: uppercase; text-align: center;}
	.popup_right h2 {display: block; position: relative; text-align: center; font-weight: normal;}
	.popup_right h2 a {text-decoration: none;}

	.quit {display: block; position: absolute; top: -33px; right: -33px;}
		.quit a {display: block; position: relative; float: right; background: url(../img/quit.png) 0 0 no-repeat; width: 27px; height: 27px;}

.p_left1 {background: url(../img/p1_left.png) 0 0 no-repeat; width: 606px; height: 379px;}
	.p_left1 ul {color: #fff; margin: 28px 0 0 120px; font-family: 'Playfair Display SC', sans-serif; font-size: 20px; line-height: 54px;}
	.p_left1 li b {font-weight: normal; font-style: italic;}

.p_right1 {}
	.p_right1 h3 {margin: 60px 0 25px 57px; width: 210px;}
	.p_right1 p {margin: 25px 0 25px 57px; width: 210px}
	.p_right1 h2 {margin-left: 24px;}

.p1 {display: none;}
.p1_vis {display: block;}

.shape {display: none; position: fixed; width: 100%; height: 100%; background: url(../img/header_line.jpg) 0 0 repeat; opacity: 0.70; z-index: 209; top: 0; left: 0;}
.shape_vis {display: block;}








